@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  --primary: #ff0000;
  --white: #ffffff;
}

@theme {
  --color-*: initial;
  
  /* DEV COLORS */
  --color-fill: #ff4df9;

  /* PRIMARY COLORS */
  --color-primary: var(--color-primary);

  /* STANDARD COLORS */
  --color-white: var(--color-white);
  --color-black: #000000;
}

body {
  background-image: url("/assets/background.png");
  background-color: rgba(0, 0, 0, 0.631);
  background-blend-mode:color-burn;
  background-size:cover;
  width: 100%;
  color: white;
  font-family: "Inknut Antiqua", serif;
}

h1 {
  font-size: x-large;
}

a:hover {
  color: var(--primary);
}

.header-small {
    display: none;
  }

.header-larger {
  display: block;
}

.layout {
  background-color: var(--color-black);
  margin-left: 150px;
  margin-right: 150px;
  padding-left: 20px;
  padding-right: 20px
}

.nav_items {
  font-size: 1.2em;
}

/*border-1 mx-2 mb-1*/
.nav-item {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 4px;
  padding: 2px;
  text-align: center;
}

@media only screen and (max-width: 1072px) {
  .nav_items {
    font-size: 2vw;
    padding-right: 20px;
  }

  .layout {
    margin-left: 5px;
    margin-right: 5px;
  }

  #logo {
  }

  #mainContent {
    width: max-content;
  }

  #sidebar {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .header-small {
    display: block;
  }

  .header-large {
    display: none;
  }
}